var phrases = <%= raw session['phrases'] %> ;
var ramainingPhrases = <%= raw (10 - session['pharases_count']) %> ;
console.log(phrases);

var html = "";
for (i = 0; i < phrases.length; i++) {
    html += "<li class='list-group-item'>" + phrases[i] + "</li>";
}

document.getElementById("phrases").innerHTML = html;
document.getElementById("ramainingPhrasesCount").innerHTML = ramainingPhrases;

console.log(html);
