<div>
  <h2>There are <span id='ramainingPhrasesCount'><%= (10 - session['pharases_count']) %></span> phrases left in the database. </h2> </br>

  <div>
    <%= link_to 'Get New Phrase', '/get_phrase', class: 'btn btn-success', remote: true %>
    <%= link_to 'Clear Phrases', '/reset_phrases', class: 'btn btn-warning', remote: true %>
  </div>

  <div>
     <ul id="phrases" class="list-group">
      <% session['phrases'].each do |phrase| %>
        <li class='list-group-item'><%= phrase %></li>
      <% end %>
    </ul>
  </div>

</div>
